* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(14, 14, 14);
    color: rgb(208, 207, 207);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(33, 33, 33);
}

nav ul {
    display: flex;
    justify-content: center;
    margin-right: 135px;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(175, 173, 173);
}

nav ul li a:hover {
    color: chocolate;
}

.left {
    font-size: 1.5rem;
    margin-left: 135px;
    margin-top: 10px;
}

.firstsection {

    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.firstsection img {
    margin: 100px;
}

.leftsection .resumebutton {

    padding: 5px 15px;
    border-radius: 9px;
    border-color: black;
    border: 2px solid #DAFF62;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
    margin: 50px 0;

    color: rgb(5, 5, 5);
    background-color: #DAFF62;
}

.leftsection .resumebutton:hover {
    background-color: black;
    color: azure;
}

.leftsection {
    color: rgb(175, 173, 173);
    font-size: 2.5rem;
    margin: 90px;



}

.about-section {
    background-color: #d0f06a;
    color: rgb(0, 0, 0);
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.about-section h2 {
    font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: 93%; /* 59.52px */
text-transform: capitalize;
margin: 10px 0;
color: #000000;

}

.about-content {
    width: 500px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    margin: auto;
    margin-left: 180px;
}

.about-image {
    width: 450px;
    height: 507px;
    margin-left: 130px;
}

.about-content p {
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164%; /* 26.24px */
}


.orange {
    color: #DAFF62;
}

#element {
    color: #DAFF62;
}

.service {
    background-color: black;
    width: 100%;
    padding: 100px 0;
}

.title h2 {
    color: aliceblue;
    width: 1130px;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.cards {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgb(31, 30, 30);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h4 {
    font-size: 25px;
    color: #DAFF62;
    margin-bottom: 15px;
}

.pra p {
    color: rgb(251, 251, 251);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.cards .button {
    background-color: #DAFF62;
    color: rgb(9, 9, 9);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.cards .button:hover {
    background-color: transparent;
    color: #DAFF62;
}

.Contact {
    width: 100%;
    height: 400px;
    background-color: rgb(13, 13, 13);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Contact p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.Contact a {
    background-color: #DAFF62;
    color: rgb(7, 7, 7);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.Contact a:hover {
    background-color: transparent;
    color: #DAFF62;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 40px;
    color: #DAFF62;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 20px;
    width: 700px;
    line-height: 26px;
    text-align: center;
}

.social {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social img {
    padding: 10px;
    height: 40px;
    width: 40px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(17, 17, 17);
}

.social ul {
    display: flex;
    justify-content: center;
}

.social ul li {
    list-style: none;
    margin: 0 23px;
}

.social ul li a {
    text-decoration: none;
    color: rgb(175, 173, 173);
}

footer .end p {
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 17px;
    display: flex;
    color: rgb(99, 98, 98);
}

.footer-lower {
    font-size: 20px;
    color: rgb(254, 255, 255);
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    /* so that it stays on top of all other elements */
}